<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Profile Image | Update Profile Image | Draw N Collab</title>
</head>

<body>
    <form action="/upload/profile" method="post" enctype="multipart/form-data">
        <input type="file" name="profile" id="profile">

        <button type="submit">Upload</button>
    </form>
</body>

</html>